:root {
  --primary-color: #3df5dc;

  --secundary-color: #333;
  --light-color: #fff;
  --font-primary-color: #333;
  --card-background-color: #fff;
  --border-background-color: #ccc;
  --border-radius-primary: 4px;
  --text-primary-color: #333;
  --disabled-primary-color: #e0e0e0;
}

@layer themes {
  .terracotta {
    --primary-color: #fd957b;
  }

  .indigo {
    --primary-color: #1c3757;
  }
}

html,
body {
  color: var(--text-primary-color);
  font-family: var(--font-plus-jakarta-sans);
  font-size: 16px;
}
