.input {
  padding: 0 0.75rem;
  height: 2.5rem;
  outline: none;
  border: 1px solid var(--border-background-color);
  border-radius: var(--border-radius-primary);
  transition: border 0.3s;

  &--full {
    width: 100%;
  }

  &:focus {
    border-color: var(--secundary-color);
  }
}

.label {
  font-weight: bold;
  font-size: 1rem;
  display: block;
}

.btn {
  padding: 0.75px 2.5px;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;

  &--pill {
    border-radius: 100px;
  }

  &--light {
    background: var(--primary-color);
    color: var(--font-primary-color);
  }

  &--dark {
    background: var(--secundary-color);
    color: var(--light-color);
  }

  &--full {
    width: 100%;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    pointer-events: none;
    background: var(--disabled-primary-color);
    color: var(--font-primary-color);
    opacity: 0.6;
  }
}
